<div class="container-two">
    <h1>TRENDING ON SOJOURNERS</h1>
    <div class="news">
        <span><h2>01</h2></span>
        <img src="/assets/images/tyr2.jpg" alt="Tyrant" />
        <p>Tyrant Malone</p>
        <h3>A barrister Alien-Exoworld coming soon</h3>
        <!-- <p class="time-one">Oct 26 -11min read</p> -->
        <span><p>Oct 26 · 11 min read</p></span>

    </div>
    <div class="news-two">
        <span><h2>02</h2></span>
        <img src="/assets/images/gitl.png" alt="Sirkano" />
        <p>Sirkano Mvano</p>
        <h3>Why Indie Music Needs to Win</h3>
        <!-- <p class="time-one">Oct 26 -11min read</p> -->
        <span><p>Oct 26 · 11 min read</p></span>
    </div>
    <div class="news-three">
        <span><h2>03</h2></span>
        <img src="/assets/images/chit.jpg" alt="Chit" />
        <p>Mvela Gathoni</p>
        <h3>How to Leave Dying Social Media Platforms</h3>
        <!-- <p class="time-one">Oct 26 -11min read</p> -->
        <span><p>Oct 26 · 11 min read</p></span>
    </div>
    <div class="news-four">
        <span><h2>04</h2></span>
        <img src="/assets/images/hood.jpg" alt="hood" />
        <p>Rusty Snooze</p>
        <h3>Lil hommie Lived and Died by the gun</h3>
        <!-- <p class="time-one">Oct 26 -11min read</p> -->
        <span><p>Oct 26 · 11 min read</p></span>
    </div>
    <div class="news-five">
        <span><h2>05</h2></span>
        <img src="/assets/images/girl.jpg" alt="girl" />
        <p>Keinton Paris</p>
        <h3>How Tiktok is able to capture your kids attentions in milliseconds</h3>
        <span><p>Oct 26 · 11 min read</p></span>
      
    </div>
    <div class="news-six">
        <span><h2>06</h2></span>
        <img src="/assets/images/space.jpg" alt="space" />
        <p>Soshi Sybil</p>
        <h3>Astronaut station 101</h3>
        <span><p>Oct 26 · 11 min read</p></span>
      
    </div>
    <hr class="trend"/>
   
    <div class="list-news">
        <img src="/assets/images/space.jpg" alt="space" />
        <p>Soshi Sybil</p>
       <a href="#"><h1>Man's Little Secret on Danver hotel wall</h1></a> 

       <a href="#"><h2>18th century wall had secrets of a young man,shocking yet captivating</h2></a>  
     <img src="/assets/images/old.jpeg" class="old" />
    </div>
    <div class="list-news-2">
        <img src="/assets/images/spot.png" alt="music" />
        <p>Deborah Gilliard</p>
       <a href="#"><h1>Music is like running up the hill</h1></a> 

       <a href="#"><h2>Young kids,say stranger things scene inspired the music quote</h2></a> 
     
    </div>
    <img src="/assets/images/kids.jpeg" class="run" />
    <div class="list-news-3">
        <img src="/assets/images/nor.jpg" alt="nor" />
        <p>Nora Swave</p>
       <a href="#"><h1>How to prepare for the Nordic Lands</h1></a> 

       <a href="#"><h2>Travelers guide to bright days,dark days too,sound nights</h2></a> 
       <img src="/assets/images/norw.jpeg" class="norway" />
    </div>
  
    </div>
    <div class="discover">
        <h1>Discover What Matters To You</h1>
        <span><h1>Technology</h1></span>
        <span><h2>Travel</h2></span>
        <span><h3>Archaelogy</h3></span>
        <span><h4>History</h4></span>
        <span><h5>Space</h5></span>
        <span><h6>Music</h6></span>
    </div>